<body class="backgroundGame3">
    <div class="divContainer" style="min-height:85vh">
        <div class="row contentContainer" style="max-width:100%">
            <div class="col-8 leftContainer">
                <div class="sliderContainer">
                    <h1>Slider de img/video</h1> 
                </div>
                <div class="espacioEntremedio"></div>
                <div class="compraText">
                    <div>
                        <h3>Comprar New project</h3>
                    </div>   
                </div>
            </div>
            <div class="col-4 rightContainer">
                <div class="logoContainer">
                    <h2>LOGO</h2>
                </div>
                <div class="espacioEntremedio"></div>
                <div class="resumenContainer">
                    <h3>Resumen del juego</h3>
                </div>
                <div class="espacioEntremedio"></div>
                <div class="compraButton">
                    <button type="submit" class="btn btn-success btn-lg buttonStyle"><h5 class="buttonText">Comprar</h5></button>
                </div>
            </div>     
        </div>
    </div>
</body>