<body class="backgroundGame1">
    <div class="divContainer" style="min-height:85vh">
        <div class="row contentContainer" style="max-width:100%">
            <div class="col-8 leftContainer">
                <div class="styleTitle">The Fog</div>
                <div class="sliderContainer">
                    <video class="sliderVideo" controls>
                        <source src="https://steamcdn-a.akamaihd.net/steam/apps/256698881/movie480.webm?t=1508978198" type="video/webm">
                    </video>
                </div>
                <div class="espacioEntremedioL2"></div>
                <div class="portraitContainer">
                    
                </div>
                <div class="espacioEntremedioL2"></div>
                <div class="portraitSlider">
                    
                </div>
                <div class="espacioEntremedioL"></div>
                <div class="row">
                    <div class="col-8 compraText">
                        <div class="alignText">
                            <h3>Purchase The Fog</h3>
                        </div>   
                    </div>
                    <div class="col-4 compraButton">
                        <div class="alignButton">
                            <button type="submit" class="btn btn-success btn-lg">
                                <a href="https://store.steampowered.com/app/739030/The_Fog/" class="not-active1 buttonText">Buy NOW</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 rightContainer">
                <div class="logoContainer">
                    <img src="/images/the_fog_logo.jpg" alt="" class="imgSize">
                </div>
                <div class="espacioEntremedioR"></div>
                <div class="resumenContainer">
                    <h5 class="resumenText">Open your way across a dark open world and fight against what lives within the fog and beyond. The Fog is a survival horror game inspired on the 1980 novella "The Mist" by Stephen King.</h5>
                    <br>
                    <h5 class="hTextL">Release date:<h4 class="hTextR"> 1 DIC 2017<h4></h5>
                    <br>
                    <h5 class="hTextL">Developer:<h4 class="hTextR"> Horizon Games<h4></h5>
                    <h5 class="hTextL">Publisher:<h4 class="hTextR"> Horizon Games<h4></h5>
                </div>
                <div class="espacioEntremedioR"></div>
            </div>     
        </div>
    </div>
</body>